<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间绑定一个指定的dao接口-->
<mapper namespace="com.backend.shop.mapper.AskForGoodPostDao">


<!--    selectAll-->
    <select id="findAll" resultType="AskForGoodPost">
        SELECT *
        FROM AskForGoodPost
        order by time
    </select>

    <!--insert new chat-->
    <insert id="add" parameterType="AskForGoodPost">
        insert into AskForGoodPost (user_id, afg_intro,afg_title,afg_tag,campus,afg_price,afg_condition,time)
        values (#{userId}, #{afgIntro},#{afgTitle},#{afgTag},#{campus},#{afgPrice},#{afgCondition},#{time})
    </insert>
    <!--delete-->
    <delete id="delete">
        delete
        from AskForGoodPost
        where afg_post_id = #{afgPostId}
    </delete>

    <!--    selectNickname-->
    <select id="findNickname" resultType="String">
        SELECT nick_name
        FROM user natural join AskForGoodPost
        WHERE afg_post_id=#{afgPostId}
    </select>

    <!--delete-->
    <delete id="deleteRe">
        delete
        from AskForGoodPostReply
        where afg_post_id = #{afgPostId}
    </delete>


    <!--select count of favorites-->
    <select id="selectCount" parameterType="int" resultType="int">
        SELECT count(*)
        FROM AskForGoodPostReply
        WHERE afg_post_id=#{afgPostId}
    </select>

    <!--    select one's post-->
    <select id="findAllById" resultType="AskForGoodPost">
        SELECT *
        FROM AskForGoodPost
        WHERE user_id=#{userId}
        order by time
    </select>


</mapper>