<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.shop.mapper.FavoriteDao">
    <resultMap id="goodMap" type="com.backend.shop.pojo.Good">
        <result column="goodid" property="gid"/>
        <result column="name" property="name"/>
        <result column="price" property="price"/>
        <result column="description" property="description"/>
        <result column="campus" property="campus"/>
        <result column="old" property="old"/>
        <result column="sellerid" property="seller"/>
        <result column="addr" property="pic"/>
        <result column="publishdate" property="publish"/>
        <result column="tag" property="tag"/>
    </resultMap>
    <!--insert new chat-->
    <insert id="add" parameterType="Favorite">
        insert into favorite (user_id, good_id)
        values (#{userId}, #{goodId})
    </insert>
    <!--select to check if the good is already in favorite-->
    <select id="selectFavor" parameterType="Favorite" resultType="int">
        SELECT count(*)
        FROM favorite
        WHERE user_id = #{userId}
          and good_id = #{goodId}
    </select>
    <!--select all goods in the user's favorite list-->
    <select id="selectGoods" parameterType="int" resultMap="goodMap">
        select goodid,
               name,
               price,
               description,
               campus,
               old,
               sellerid,
               addr,
               publishdate,
               tag
        FROM Good
                 natural join favorite
        WHERE user_id = #{userId}
        order by favor_id
    </select>
    <!--delete a favorite-->
    <delete id="deleteFavorite">
        delete
        from favorite
        where user_id = #{userId}
          and good_id = #{goodId}
    </delete>
    <!--select count of favorites-->
    <select id="selectCount" parameterType="int" resultType="int">
        SELECT count(*)
        FROM favorite
        WHERE user_id = #{userId}
    </select>
</mapper>
