<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.shop.mapper.GoodDao">
    <resultMap id="goodMap" type="com.backend.shop.pojo.Good">
        <result column="goodid" property="gid"/>
        <result column="name" property="name"/>
        <result column="price" property="price"/>
        <result column="description" property="description"/>
        <result column="campus" property="campus"/>
        <result column="old" property="old"/>
        <result column="sellerid" property="seller"/>
        <result column="addr" property="pic"/>
        <result column="publishdate" property="publish"/>
        <result column="tag" property="tag"/>
    </resultMap>

    <insert id="addGood" >
        insert into Good(goodid,name,price,description,campus,old,sellerid,addr
        ,publishdate,tag)
        values (#{gid},#{name},#{price},#{description},#{campus},#{old}
        ,#{seller},#{pic},#{publish},#{tag})
    </insert>

    <delete id="deleteGood" parameterType="int" statementType="CALLABLE">
        delete
        from Good
        where goodid=#{gid}
    </delete>

    <update id="reviseGood" parameterType="Good">
        update Good
        set name=#{name}
            price=#{price}
            description=#{description}
            campus=#{campus}
            old=#{old}
            sellerid=#{seller}
            addr=#{pic}
            tag=#{tag}
        where goodid=#{gid}
    </update>

    <select id="getGood" parameterType="int" resultType="com.backend.shop.pojo.Good">
        select goodid,name,price,description,campus,old,sellerid,addr,publishdate,tag
        from Good
        where goodid=#{gid}
    </select>

    <select id="existGood" parameterType="int" resultType="int">
        select count(*)
        from Good
        where goodid=#{gid}
    </select>

    <select id="getGoodByPage" parameterType="int" resultType="com.backend.shop.pojo.Good">
        select goodid,name,price,description,campus,old,sellerid,addr,publishdate,tag
        from Good
        where sellerid= #{userid}
    </select>

    <select id="getGoodOnSailCount" resultType="int">
        select count(*)
        from Good
        where sellerid = #{userid}
    </select>

    <select id="getAllGoodOnSailCount" resultType="int">
        select count(*)
        from Good
    </select>
</mapper>
