<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间绑定一个指定的dao接口-->
<mapper namespace="com.backend.shop.mapper.QuestionPostDao">
    <select id="findAll" resultType="QuestionPost">
    select *
    from QuestionPost
  </select>

    <!--insert -->
    <insert id="add" parameterType="QuestionPost">
        insert into QuestionPost (user_id, q_content,q_title,time)
        values (#{userId}, #{qContent},#{qTitle},#{time})
    </insert>

    <!--delete-->
    <delete id="delete">
        delete
        from QuestionPost
        where q_post_id = #{qPostId}
    </delete>

    <!--    selectNickname-->
    <select id="findNickname" resultType="String">
        SELECT nick_name
        FROM user natural join QuestionPost
        WHERE q_post_id=#{qPostId}
    </select>

    <!--delete-->
    <delete id="deleteRe">
        delete
        from QuestionPostReply
        where q_post_id = #{qPostId}
    </delete>

    <select id="findReplies" resultType="ReplyList">
        select user_id,nick_name,avatar
        from user
        where user_id=#{userId}
    </select>


    <select id="findContent" resultType="String">
        SELECT content
        FROM QuestionPostReply
        WHERE q_post_id=#{qPostId}
    </select>


    <select id="findAnswerid" resultType="int">
        select user_id
        from QuestionPostReply
        where q_post_id=#{qPostId}
    </select>

    <!--select count of favorites-->
    <select id="selectCount" parameterType="int" resultType="int">
        SELECT count(*)
        FROM QuestionPostReply
        WHERE q_post_id=#{qPostId}
    </select>
</mapper>