<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间绑定一个指定的dao接口-->
<mapper namespace="com.backend.shop.mapper.QuestionPostReplyDao">

    <!--insert -->
    <insert id="add" parameterType="QuestionPostReply">
        insert into QuestionPostReply (q_post_id,user_id,content,time)
        values (#{qPostId},#{userId},#{content},#{time})
    </insert>

    <!--select all replies in a question post-->
    <select id="selectReplies" parameterType="int" resultType="QuestionPostReply">
        SELECT q_reply_id,
               q_post_id,
               content,
               time,
               user_id
        FROM QuestionPostReply
        WHERE q_post_id = #{qPostId}
        order by time
    </select>

    <!--delete-->
    <delete id="delete">
        delete
        from QuestionPostReply
        where q_post_id = #{qPostId}
    </delete>

    <!--    selectNickname-->
    <select id="findNickname" resultType="String">
        SELECT nick_name
        FROM user natural join QuestionPostReply
        WHERE q_reply_id=#{qReplyId}
    </select>

    <!--delete-->
    <delete id="deleteOneReply">
        delete
        from QuestionPostReply
        where q_reply_id = #{qReplyId}
    </delete>


    <!--    selectPostID-->
    <select id="findReplyUserId" parameterType="int" resultType="int">
        SELECT user_id
        FROM QuestionPostReply
        WHERE q_reply_id = #{qReplyId}
    </select>
</mapper>