<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间绑定一个指定的dao接口-->
<mapper namespace="com.backend.shop.mapper.QuestionPostDao">
    <select id="findAll" resultType="QuestionPost">
    select *
    from QuestionPost
  </select>

    <!--insert -->
    <insert id="add" parameterType="QuestionPost">
        insert into AskForGoodPost (user_id, q_content,q_title,time)
        values (#{userId}, #{qContent},#{qTitle},#{time})
    </insert>
</mapper>