<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间绑定一个指定的dao接口-->
<mapper namespace="com.backend.shop.mapper.RecommendGoodsPostDao">

    <!--    selectAll-->
    <select id="findAll" resultType="RecommendGoodsPost">
        select *
        from RecommendGoodsPost
    </select>

    <!--insert -->
    <insert id="add" parameterType="RecommendGoodsPost">
        insert into RecommendGoodsPost (user_id, rg_intro,rg_title,rg_tag,time，avatar)
        values (#{userId}, #{rgIntro},#{rgTitle},#{rgTag},#{time}，#{avatar})
    </insert>

    <!--delete-->
    <delete id="delete">
        delete
        from RecommendGoodsPost
        where rg_post_id = #{rgPostId}
    </delete>

    <!--    selectNickname-->
    <select id="findNickname" resultType="String">
        SELECT nick_name
        FROM user natural join RecommendGoodsPost
        WHERE rg_post_id=#{rgPostId}
    </select>
</mapper>