<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.shop.mapper.SearchDao">
    <resultMap id="goodMap" type="com.backend.shop.pojo.Good">
        <result column="goodid" property="gid"/>
        <result column="name" property="name"/>
        <result column="price" property="price"/>
        <result column="description" property="description"/>
        <result column="campus" property="campus"/>
        <result column="old" property="old"/>
        <result column="sellerid" property="seller"/>
        <result column="addr" property="pic"/>
        <result column="publishdate" property="publish"/>
        <result column="tag" property="tag"/>
        <result column="sold_out" property="soldOut" />
    </resultMap>
    <!--select with name and price-->
    <select id="search" resultMap="goodMap">
        SELECT *
        FROM Good
        WHERE (name like "%"#{name}"%")
          and (price between #{lowPrice} and #{highPrice})
          and sold_out=0
        order by publishdate DESC
    </select>
    <!--select with name, price and tag-->
    <select id="searchWithTag" resultMap="goodMap">
        SELECT *
        FROM Good
        WHERE (tag = #{tag})
          and (price between #{lowPrice} and #{highPrice})
          and (name like "%"#{name}"%")
          and sold_out=0
        order by publishdate DESC
    </select>
    <!-- get recommend by the user's campus -->
    <select id="getRecommend" resultMap="goodMap">
        SELECT *
        from Good
        where sold_out=0
        order by publishdate DESC
    </select>
    <select id="getRecommendByTag" parameterType="int" resultMap="goodMap">
        SELECT *
        from Good
        where tag = #{tag} and sold_out=0
        order by publishdate DESC
    </select>
    <select id="getRecommendByCampus" parameterType="int" resultMap="goodMap">
        SELECT *
        from Good
        where campus = #{campus} and sold_out=0
        order by publishdate DESC
    </select>
</mapper>
