<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.shop.mapper.SearchDao">
    <!--select with name and price-->
    <select id="search" resultType="Good">
        SELECT *
        FROM Good
        WHERE (name like "%"#{name}"%")
          and (price between #{lowPrice} and #{highPrice})
        order by publish_date DESC
    </select>
    <!--select with name, price and tag-->
    <select id="searchWithTag" resultType="Good">
        SELECT *
        FROM Good
        WHERE (tag = #{tag})
          and (price between #{lowPrice} and #{highPrice})
          and (name like "%"#{name}"%")
        order by publish_date DESC
    </select>
    <!-- get recommend by the user's campus -->
    <select id="getRecommend" resultType="Good">
        SELECT *
        from Good
        order by publish_date DESC
    </select>
    <select id="getRecommendByTag" parameterType="int" resultType="Good">
        SELECT *
        from Good
        where tag = #{tag}
        order by publish_date DESC )
    </select>
    <select id="getRecommendByCampus" parameterType="int" resultType="Good">
        SELECT *
        from Good
        where campus #{campus}
        order by publish_date DESC
    </select>
</mapper>
